
---
import Skills from "../components/Skills.astro";
import Winds from "../components/Winds.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout title="" >
	<main class="  h-screen overflow-y-scroll w-full bg-black  fixed bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]">
		
     

    </main>

</Layout>
