




---
import Image from "astro/components/Image.astro";
import RS from '../../public/RS.svg'
import React from "./Icons/React.astro";
---
<div class=" flex flex-col place-items-center  lg:flex-row justify-between gap-10 lg:gap-0 px-5 lg:px-20 py-8 border-t-2 border-white backdrop-blur-xl">
    <Image class=" w-28" src={RS} alt=""/>
    <div>
      <p class="  text-3xl text-white text-center">© 2024 - Todos os direitos reservados      </p>
    </div>
    
    <span class=" flex flex-row gap-6 justify-center">
        <span class=" size-12 fill-lime-300">

            <React/>
        </span>
        <span class=" size-12 fill-lime-300">

            <React/>
        </span>
        <span class=" size-12 fill-lime-300">

            <React/>
        </span>
    

    </span>

</div>